*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* overflow-y: scroll; */
    width: 100%;
    height: 500vh;
    background-color: darkslategrey;
}
.box{
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
}
.main{
    position: relative;
    overflow-y: scroll;
    width: 100vw;
    background-color: dimgray;
    height: 100vh;
}
.box1{
    background-color: aqua;
}
.box2{
    background-color: coral;
    top: 10px;
}
.box3{
    background-color: indianred;
    top: 20px;
}
.box4{
    background-color: olive;
    top: 30px;
}
.box5{
    background-color: aqua;
    top: 40px;
}
